<div class="tsd-signature tsd-kind-icon"><Compact>
    {{{wbr name}}}
    {{#if typeParameters}}
        &lt;
        {{#each typeParameters}}
            {{#if @index}},&nbsp;{{/if}}
            {{name}}
        {{/each}}
        &gt;
    {{/if}}
    <span class="tsd-signature-symbol">{{#if isOptional}}?{{/if}}:</span>&nbsp;<With superProps=props props=type>{{__partials__.type}}</With>
    {{#if defaultValue}}
        <span class="tsd-signature-symbol">
        &nbsp;=&nbsp;
        {{defaultValue}}
        </span>
    {{/if}}
</Compact></div>

{{__partials__.member.sources}}

{{__partials__.comment}}

{{#if typeParameters}}
    <h4 class="tsd-type-parameters-title">Type parameters</h4>
    {{__partials__.typeParameters}}
{{/if}}

{{#if type.declaration}}
    <div class="tsd-type-declaration">
        <h4>Type declaration</h4>
        <With superProps=props props=type.declaration>
            {{__partials__.parameter}}
        </With>
    </div>
{{/if}}
