{{#if tryGetTargetReflectionDeep}}
    <With superProps=props props=tryGetTargetReflectionDeep>
        <IfCond cond="superProps.name '===' name">
            Re-exports <a href="{{relativeURL url}}">{{name}}</a>
        </IfCond>
        <IfNotCond cond="superProps.name '===' name">
            {{#if flags.isExported}}
                Renames and re-exports <a href="{{relativeURL url}}">{{name}}</a>
            {{else}}
                Renames and exports <a href="{{relativeURL url}}">{{name}}</a>
            {{/if}}
        </IfNotCond>
    </With>
{{else}}
    Re-exports {{name}}
{{/if}}
