<ul class="tsd-signatures {{cssClasses}}">
    {{#if getSignature}}
        <With superProps=props props=getSignature>
            <li class="tsd-signature tsd-kind-icon"><Compact>
                <span class="tsd-signature-symbol">get</span>&nbsp;
                {{superProps.name}}
                {{__partials__.member.signature.title hideName=true }}
            </Compact></li>
        </With>
    {{/if}}
    {{#if setSignature}}
        <With superProps=props props=setSignature>
            <li class="tsd-signature tsd-kind-icon"><Compact>
                <span class="tsd-signature-symbol">set</span>&nbsp;
                {{superProps.name}}
                {{__partials__.member.signature.title hideName=true }}
            </Compact></li>
        </With>
    {{/if}}
</ul>

<ul class="tsd-descriptions">
    {{#if getSignature}}
        <With superProps=props props=getSignature>
            <li class="tsd-description">
                {{__partials__.member.signature.body }}
            </li>
        </With>
    {{/if}}
    {{#if setSignature}}
        <With superProps=props props=setSignature>
            <li class="tsd-description">
                {{__partials__.member.signature.body }}
            </li>
        </With>
    {{/if}}
</ul>
