<ul class="tsd-parameters">
    {{#if signatures}}
        <li class="tsd-parameter-signature">
            <ul class="tsd-signatures {{cssClasses}}">
                {{#each signatures}}
                    <li class="tsd-signature tsd-kind-icon"><Compact>
                        {{__partials__.member.signature.title hideName=true }}
                    </Compact></li>
                {{/each}}
            </ul>

            <ul class="tsd-descriptions">
                {{#each signatures}}
                    <li class="tsd-description">{{__partials__.member.signature.body hideSources=true }}</li>
                {{/each}}
            </ul>
        </li>
    {{/if}}
    {{#if indexSignature}}
        <li class="tsd-parameter-index-signature">
            <h5><Compact>
                <span class="tsd-signature-symbol">[</span>
                {{#each indexSignature.parameters}}
                    {{#if flags.isRest}}<span class="tsd-signature-symbol">...</span>{{/if}}{{name}}:&nbsp;<With superProps=props props=type>{{__partials__.type}}</With>
                {{/each}}
                <span class="tsd-signature-symbol">]:&nbsp;</span>
                <With superProps=props props=indexSignature.type>{{__partials__.type}}</With>
            </Compact></h5>

            <With superProps=props props=indexSignature>
                {{__partials__.comment}}
            </With>

            {{#if indexSignature.type.declaration}}
                <With superProps=props props=indexSignature.type.declaration>
                    {{__partials__.parameter}}
                </With>
            {{/if}}
        </li>
    {{/if}}
    {{#each children}}
        {{#if signatures}}
            <li class="tsd-parameter">
                <h5><Compact>
                    {{#if flags.isRest}}<span class="tsd-signature-symbol">...</span>{{/if}}
                    {{{wbr name}}}
                    <span class="tsd-signature-symbol">
                        {{#if isOptional}}?{{/if}}
                        :&nbsp;
                    </span>
                    function
                </Compact></h5>

                {{__partials__.member.signatures}}
            </li>
        {{else}}{{#if type}} {{! standard type }}
            <li class="tsd-parameter">
                <h5><Compact>
                    {{#each flags}}
                        <span class="tsd-flag ts-flag{{this}}">{{this}}</span>&nbsp;
                    {{/each}}
                    {{#if flags.isRest}}<span class="tsd-signature-symbol">...</span>{{/if}}
                    <With superProps=props props=type>
                        {{{wbr superProps.name}}}
                        <span class="tsd-signature-symbol">
                            {{#if superProps.flags.isOptional}}?{{/if}}
                            :&nbsp;
                        </span>
                        {{__partials__.type}}
                    </With>
                </Compact></h5>

                {{__partials__.comment}}

                {{#if children}}
                    {{__partials__.parameter}}
                {{/if}}

                {{#if type.declaration}}
                    <With superProps=props props=type.declaration>
                        {{__partials__.parameter}}
                    </With>
                {{/if}}
            </li>
        {{else}} {{! getter/setter }}
            <With superProps=props props=getSignature> {{! getter }}
                <li class="tsd-parameter">
                    <h5><Compact>
                        {{#each flags}}
                            <span class="tsd-flag ts-flag{{this}}">{{this}}</span>&nbsp;
                        {{/each}}
                        <span class="tsd-signature-symbol">get&nbsp;</span>
                        {{{wbr superProps.name}}}
                        <span class="tsd-signature-symbol">():&nbsp;</span>
                        <With superProps=props props=type>
                            {{__partials__.type}}
                        </With>
                    </Compact></h5>

                    {{__partials__.comment }}
                </li>
            </With>
            <With superProps=props props=setSignature> {{! setter }}
                <li class="tsd-parameter">
                    <h5><Compact>
                        {{#each flags}}
                            <span class="tsd-flag ts-flag{{this}}">{{this}}</span>&nbsp;
                        {{/each}}
                        <span class="tsd-signature-symbol">set&nbsp;</span>
                        {{{wbr superProps.name}}}
                        <span class="tsd-signature-symbol">(</span>
                        {{#each parameters}}
                            {{name}}
                            <span class="tsd-signature-symbol">: </span>
                            {{#if type}}
                                <With superProps=props props=type>
                                    {{__partials__.type}}
                                </With>
                            {{else}}
                                <span class="tsd-signature-type">any</span>
                            {{/if}}
                        {{/each}}
                        <span class="tsd-signature-symbol">):&nbsp;</span>
                        <With superProps=props props=type>
                            {{__partials__.type}}
                        </With>
                    </Compact></h5>

                    {{__partials__.comment }}
                </li>
            </With>
        {{/if}}{{/if}}
    {{/each}}
</ul>
