<With superProps=props props=model>
    {{#if hasComment}}
        <section class="tsd-panel tsd-comment">
            {{__partials__.comment}}
        </section>
    {{/if}}
</With>

{{#if model.typeParameters}}
    <section class="tsd-panel tsd-type-parameters">
        <h3>Type parameters</h3>
        <With superProps=props props=model>{{__partials__.typeParameters}}</With>
    </section>
{{/if}}

{{#if model.typeHierarchy}}
    <section class="tsd-panel tsd-hierarchy">
        <h3>Hierarchy</h3>
        <With superProps=props props=model.typeHierarchy>{{__partials__.hierarchy}}</With>
    </section>
{{/if}}

{{#if model.implementedTypes}}
    <section class="tsd-panel">
        <h3>Implements</h3>
        <ul class="tsd-hierarchy">
            {{#each model.implementedTypes}}
                <li><Compact>{{__partials__.type}}</Compact></li>
            {{/each}}
        </ul>
    </section>
{{/if}}

{{#if model.implementedBy}}
    <section class="tsd-panel">
        <h3>Implemented by</h3>
        <ul class="tsd-hierarchy">
            {{#each model.implementedBy}}
                <li><Compact>{{__partials__.type}}</Compact></li>
            {{/each}}
        </ul>
    </section>
{{/if}}

{{#if model.signatures}}
    <section class="tsd-panel">
        <h3 class="tsd-before-signature">Callable</h3>
        <With superProps=props props=model>{{__partials__.member.signatures}}</With>
    </section>
{{/if}}

{{#if model.indexSignature}}
    <section class="tsd-panel {{model.cssClasses}}">
        <h3 class="tsd-before-signature">Indexable</h3>
        <div class="tsd-signature tsd-kind-icon"><Compact>
            <span class="tsd-signature-symbol">[</span>
            {{#each model.indexSignature.parameters}}
                {{name}}:&nbsp;<With superProps=props props=type>{{__partials__.type}}</With>
            {{/each}}
            <span class="tsd-signature-symbol">]:&nbsp;</span>
            <With superProps=props props=model.indexSignature.type>{{__partials__.type}}</With>
        </Compact></div>

        <With superProps=props props=model.indexSignature>
            {{__partials__.comment}}
        </With>

        {{#if model.indexSignature.type.declaration}}
            <With superProps=props props=model.indexSignature.type.declaration>
                {{__partials__.parameter}}
            </With>
        {{/if}}
    </section>
{{/if}}

<With superProps=props props=model>
    {{__partials__.index}}
    {{__partials__.members}}
</With>
